
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f1fdf4; 
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}


header {
  background-color: #2a9d8f; 
  color: white;
  padding: 30px 0;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
  letter-spacing: 2px;
}

.search-container {
  margin-top: 15px;
}

#recipe-search {
  padding: 12px 15px;
  width: 60%;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}


.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px 10%;
  margin: 0;
}


.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 50px;
  color: #ff6b6b;
  cursor: pointer;
}


.favorite-btn:hover {
  transform: scale(1.2);
}

.recipe-info {
  padding: 10px;
}
.recipe-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;

  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
 
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.recipe-card h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.recipe-card p {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #666;
}

.recipe-card p:last-of-type {
  margin-bottom: 0;
}


footer {
  background-color: #2a9d8f;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.filters select {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
.back-arrow {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000000;
  font-weight: bold;
  
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.back-arrow:hover {
  background: #cde8d4;
}
.recipe-link {
  text-decoration: none; 
  color: inherit; 
  display: block;
}

.recipe-info h3 {
  color: green; 
}
/* Optional Styling for Scroll to Top Button */
#scrollToTopBtn {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#scrollToTopBtn:hover {
  background-color: #058D95;
  color: white;
  transform: translate(-50%, -50%) scale(1.1); /* Slightly scale up when hovered */
}
